bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.vscode
/.vs/HotelsAdministration
/.idea/.idea.HotelsAdministration/.idea
/HotelsAdministration.Application/Configuration/MongoDbSettings.cs
/HotelsAdministration.WebApi/.vscode
